/* HEX */
$red: #ff2e2e;
$pink: #ff5b67;
$orange: #ffd6a5ff;
$yellow: #d1cf8e;
$green: #caffbfff;
$blue-light: #9bf6ffff;
$blue: #a0c4ffff;
$purple: #bdb2ffff;
$purple-light: #ffc6ffff;
$gray-light: #d5d5d2;

// Relevant colors
$reserved: $green;
$available: $yellow;
$break: $pink;
$primary-bg: $gray-light;
$past: lighten($primary-bg, 10);
$generated: darken($reserved, 20);
